lib-cov
*.sonar
*sonar
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.txt
.DS_Store
pids
logs
TODO
frontend-server
out.json
out.txt
npm-debug.log
node_modules
bower_components
frameworks.min.*
main.min.*
public_html
index.html