  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="col-md-12">
          <h1>CTcue Trakr <small>Medical Text Processor</small></h1>
        </div>
        <div class="row">

          <!-- Left Side Bar -->
          <div class="col-md-1">
            <!-- <p>This is a sidebar</p> -->
          </div>
          <!-- End of Left Side Bar -->

          <!-- Main column -->
          <div class="col-md-7">

            <div class="form-group col-md-11">
              <h3>To process your text, insert it in this box</h3>
              <textarea ng-model="trakrText" class="form-control" id="trakrText" placeholder="Copy/paste your text here"></textarea>
            </div>

            <div ng-if="options.search_term" class="form-group col-md-11 animate-if">
              <span>Search Term</span>
              <input type="text" ng-model="trakrSearch" class="form-control">
            </div>

            <div ng-if="options.search_value" class="form-group col-md-11 animate-if">
              <span>Enter value name</span>
              <input type="text" ng-model="trakrSearchValue" class="form-control">
            </div>

            <div class="col-md-11">
              <a href="" type="button" class="btn btn-primary btn-lg" ng-click="send()"><span class="glyphicon glyphicon-search"></span> Sniff</a>
            </div>
            <!-- End of Text and Sniff Column -->

            <div ng-if="processedText" class="form-group col-md-11 animate-if">
              <h2>Processed Text</h2>

              <div class="list-group" ng-if="processedText.Tokens">
                <li class="list-group-item active">
                  <span>Tokens</span>
<!--                   <span class="pull-right">
                    <input type="text" ng-model="tokenfilter" class="form-control" placeholder="Filter this list">
                  </span> -->
                  
                </li>
                <li class="list-group-item" ng-repeat="token in processedText.Tokens track by $index">
                  {{ token }}
                </li>
              </div>

              <div class="list-group" ng-if="processedText.Sentences">
                <li class="list-group-item active">
                  <span>Sentences</span>
                </li>
                <li class="list-group-item" ng-repeat="sentence in processedText.Sentences track by $index">
                  {{ sentence }}
                </li>
              </div>

              <div class="list-group" ng-if="processedText.SearchTermSnippets">
                <li class="list-group-item active">
                  <span>Search Term Snippets</span>
                </li>
                <li class="list-group-item text-center" ng-repeat="snippets in processedText.SearchTermSnippets track by $index" dynamic='snippets.highlightedSnippet'>
                </li>
              </div>

            </div>
            <!-- End of Processed Text Column -->

          </div>
          <!-- End of Main Column -->

          <!-- Right Side Bar -->
          <div class="col-md-4">
            <h2><small>Options</small></h2>

            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="options.tokenize_words">
                Tokenize Words
              </label>
            </div>

            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="options.segment_sentences">
                Sentence Segmentation
              </label>
            </div>

            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="options.search_term">
                Search Term
              </label>
            </div>

            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="options.search_value">
                Search Value
              </label>
            </div>

          </div>
          <!-- End of Right Side Bar -->

        </div>
        <!-- End of Row containing Main Column and Side Bars -->
      </div>
      <!-- End of Full Page Column containing all subrows -->
    </div>
    <!-- End of Full Page Row Containing all columns and subrows -->


  </div>
  <!-- End of Container  -->
